<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <section class="work">
      <div class="text-container"></div>
      <div class="cards">
        <div class="card">
          <div class="card-img">
            <img src="../assets/aboutImg/img1.jpg" alt="" />
          </div>
          <div class="card-copy">
            <p>Card title</p>
            <p>Card ID</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="../assets/aboutImg/img2.jpg" alt="" />
          </div>
          <div class="card-copy">
            <p>Card title</p>
            <p>Card ID</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="../assets/aboutImg/img3.jpg" alt="" />
          </div>
          <div class="card-copy">
            <p>Card title</p>
            <p>Card ID</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="../assets/aboutImg/img4.jpg" alt="" />
          </div>
          <div class="card-copy">
            <p>Card title</p>
            <p>Card ID</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="../assets/aboutImg/img5.jpg" alt="" />
          </div>
          <div class="card-copy">
            <p>Card title</p>
            <p>Card ID</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="../assets/aboutImg/img6.jpg" alt="" />
          </div>
          <div class="card-copy">
            <p>Card title</p>
            <p>Card ID</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="../assets/aboutImg/img7.jpg" alt="" />
          </div>
          <div class="card-copy">
            <p>Card title</p>
            <p>Card ID</p>
          </div>
        </div>
      </div>
    </section>
    <script type="module">
        import Lenis from "https://cdn.jsdelivr.net/npm/@studio-freight/lenis@latest/dist/lenis.min.mjs";

        const lenis = new Lenis();

        function raf(time) {
            lenis.raf(time);
            requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script>
        gsap.registerPlugin(ScrollTrigger);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script type="module" src="about.js"></script>

  </body>
</html>
